* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
}

.pointer {
  cursor: pointer !important;
}

.not-allowed {
  cursor: not-allowed;
}

.fen-string {
  font-size: 14px;
}

.options-nav {
  width: 40rem;
  padding: 0;
  
  & .row {
    margin: 10px 0;
  }

  & .undo-button {
    text-align: right;

    & button {
      border: 0;
      background: transparent;
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.player-turn {
  font-size: 20px;
  margin-bottom: 10px;
}

.move-history {
  padding-left: 30px;
  background-color: white;
  height: 500px;
  width: 280px;
  overflow: auto;

  & * {
    color: black;
  }

  & .white-move {
    width: 70px;
    display: inline-block;
  }
}

/* ========= BOARD STYLES - START ========= */
.board {
  &.light {
    --board-border-color: #803E04;
    --light-color: #FFCE9E;
    --dark-color: #D18B47;
    --active-color: #BBCA48;
    --attack-color: #FF0000;
    --suggest-color: #000000;
  }

  &.dark {
    --board-border-color: #023850;
    --light-color: #697382;
    --dark-color: #2D323F;
    --active-color: #5F8F75;
    --attack-color: #FF0000;
    --suggest-color: #000000;
  }

  border: 25px solid var(--board-border-color);
  border-radius: 10px;
  width: fit-content;
  margin: auto;

  & .board-row {
    display: block;
    height: 5rem;
  }

  & .row {
    display: block;
    height: 5rem;
  }

  & button.cell {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 100%;
    text-align: center;
    border: 0;
    padding: 0;
    outline: none;
    &.black {
      background-color: var(--dark-color);
    }
    &.white {
      background-color: var(--light-color);
    }
    &.active {
      background-color: var(--active-color);
    }
    &.check {
      background-color: var(--attack-color);
    }
    
    & .suggest {
      position: absolute;
      z-index: 1;
      pointer-events: none;
      opacity: 0.2;
      background-color: var(--suggest-color);
      width: 35%;
      height: 35%;
      border-radius: 100px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      &.red {
        background-color: var(--attack-color);
        opacity: 0.9;
      }
    }

    & .piece-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    & .cell-name {
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 14px;
      font-weight: bold;
      
      &.black {
        color: var(--light-color);
      }
      &.white {
        color: var(--dark-color);
      }
    }
  }
}
/* ========= BOARD STYLES - END ========= */